<?xml version="1.0"?>
<config>
    <modules>
        <Precisionpros_Subscriber>
            <version>1.0.0</version>
        </Precisionpros_Subscriber>
    </modules>
    <global>
        <blocks>
            <precisionpros_subscriber>
                <class>Precisionpros_Subscriber_Block</class>
            </precisionpros_subscriber>
        </blocks>
        <models>
            <precisionpros_subscriber>
                <class>Precisionpros_Subscriber_Model</class>
            </precisionpros_subscriber>
        </models>
        <resources>
            <precisionpros_subscriber_setup>
                <setup>
                    <module>Precisionpros_Subscriber</module>
                </setup>
            </precisionpros_subscriber_setup>
        </resources>
        <helpers>
            <precisionpros_subscriber>
                <class>Precisionpros_Subscriber_Helper</class>
            </precisionpros_subscriber>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <precisionpros_subscriber>
                    <file>precisionpros/subscriber.xml</file>
                </precisionpros_subscriber>
            </updates>
        </layout>
        <events>
            <newsletter_subscriber_save_before>
                <observers>
                    <precisionpros_subscriber_save_additional>
                        <class>precisionpros_subscriber/observer</class>
                        <method>saveAdditionalData</method>
                    </precisionpros_subscriber_save_additional>
                </observers>
            </newsletter_subscriber_save_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <precisionpros_subscriber_add_column>
                        <class>precisionpros_subscriber/observer</class>
                        <method>addGridColumn</method>
                    </precisionpros_subscriber_add_column>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
</config>